*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.content {
    max-width: 1140px; /* задаём ширину */
    display: flex;
    align-items: flex-end; /* к низу по вертикальной оси */
    gap: 30px; /* задаём отступы между элементами 30px */
}

.search-form {
    display: flex;
    align-items: flex-start; /* прижать к верхней части по вертикали */
    justify-content: space-between; /* пропорционально распред место между */
}

.content__details {
    width: 100%; /* растянуть на всю доступную ширину */
    height: 100%; /* растянуть на всю доступную высоту */
    display: flex;
    flex-direction: column;
    gap: 24px; /* задаём отступ между заголовком и зоной с карточками */
}

.content__list-container {
    height: 298px; /* установите жёсткую высоту*/
    overflow: auto; /* при переполнении появится скролл */
}

.result__video-container {
    width: 711px; /*задать размеры видео контейнера */
    height: 386px;
    margin-bottom: 16px; /* задали внешний отступ снизу 16px */
    position: relative;
}

.result__video {
    width: 100%; /* Без указания высоты и ширины в 100% не растягивается по размерам родителя */
    height: 100%;
    object-fit: cover; /* без нарушения пропорций заполнит всю область */
    object-position: center; /* для расположения видео по центру */
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.content__video-card {
    display: flex;
    align-items: flex-start; /* прижать к верхней части по вертикали */
}

.content__video-card-thumbnail {
    height: 103px; /* задаём высоту по макету */
    min-width: 194px; /* задаём мин ширину по макету */
    object-fit: cover; /* без нарушения пропорций заполнит всю область */
    object-position: center; /* для расположения картинки по центру */
}

.content__video-card-description-container {
    flex-grow: 1; /* занимал всё доступное пространство не занятое */
}

.search-form__fieldset-title {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 122.2%; /* или 22px  */
}

.title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 94%; /* or 70px */
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    text-decoration: none; /* убрали подчеркивание ссылки */
    color: #fff; /* вместо синего по умолчанию - белый */
}

.content__video-card-description-container {
    max-width: 196px; /* ?? пробуем ограничить ширину для обрезки длинных названий городов */
}

.content__video-card-title {
    padding-bottom: 6px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%; /* или 30px */
    text-transform: uppercase;
    white-space: nowrap; /* Запрещает перенос строк */
    overflow: hidden; /* Скрывает переполняющийся контент */
    text-overflow: ellipsis; /* Добавляет «...» в конце обрезанного текста */
}

.content__video-card-description {
    line-height: 90%; /* или 16.2px */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Количество строк, после которых текст будет обрезан */
    -webkit-box-orient: vertical;
    line-clamp: 4;
    overflow: hidden; /* скрывает излишний текст */
    text-overflow: ellipsis; /* добавляет многоточие в конце обрезанного текста. */
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}
.search-form__fieldset {
    border: none; /* сбросили рамку */
}

.search-form__label {
    display: flex;
    align-items: center; /*  ??? или внизу по вертикальной оси */
    width: fit-content; /* принять размер содержимого, не растягиваясь на всю доступную ширину */
    gap: 5px;
}

.search-form__textfield {
    width: 225px; /* ширина поля ввода */
    height: 27px; /* высота поля ввода */
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border: none; /* сброс рамки без него отрисовывает один край дополнительно */
    border-top: 1px solid #fff; /* уточнить толщину линии */
    border-bottom: 1px solid #fff; /* уточнить толщину линии */
    background-color: transparent; /* прозрачный или черный ?????*/
    appearance: none;
}

.search-form__textfield::placeholder {
    color: rgb(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
    outline: none; /* Убираем стандартную обводку */
}

.search-form__label:has(.search-form__textfield:focus-visible) {
    outline: 1px solid #fff; /* Хитрый Селектор  */
    outline-offset: 2px;
}

.search-form__pseudo-checkbox {
    width: 19px; /* или 15px ???? */
    height: 19px; /* или 15px ???? */
    border: 1px solid #fff;
    padding: 1px;
}

.search-form__pseudo-checkbox::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
}

.search-form__label:hover .search-form__label-text {
    text-decoration: underline; /* вроде работает */
    cursor: pointer;
}

.search-form__label:focus {
    outline: none; /* Убираем стандартную обводку */
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
    outline: 1px solid #fff;
}

.button {
    padding: 6px 0; /* добавляем внутр отступы сверху и снизу */
    border: 1px solid #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 122.2%; /* или 22px  */
    color: #fff;
    background-color: transparent;
}

.search-form__submit-button {
    width: 194px;
    align-self: flex-end;
}

.more-button {
    width: 100%;
    padding-left: 3px;  /* как у карточек чтоб границу видно было */
    padding-right: 3px;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button:active {
    background-color: #545050;
    text-decoration: none;
}

.button:focus {
    outline: none; /* Убираем стандартную обводку */
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.content__list-item {
    padding:0 3px;
}

.content__card-link {
    display: block;  /* для блочного элемента можно добавить фон */
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:hover {
    text-decoration-line: underline;  /* ??????не увсех видно подчеркивание */
    /*  text-underline-offset: 1px; */ 
    cursor: pointer;
}

.content__card-link:focus {
    outline: none; /* Убираем стандартную обводку */
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}
